.contact {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url("../img/model-1.jpg") center top;
  background-size: cover;

  h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    font-size: 1.2rem;

    div i {
      width: 10%;
    }
  }

  .social-icons {
    position: initial;
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  footer {
    font-size: 1rem;
    position: fixed;
    bottom: 0.4rem;
    text-align: center;
    padding: 1rem;
    color: set-text-color($primary-color);
  }
}
